.small-card {
    margin-bottom: 10px;
    position: static;
    width: 100%;
}

.widget-list {
    margin: 0;
}

.widget-list .mdl-list__item {
    min-height: 30px;
    padding: 0 16px;
}

.form-options .mdl-switch {
    margin-bottom: 10px;
}

.form_menu {
    margin-top: 130px;
}

.form_menu > a {
    text-decoration: none;
}

.form_menu_approve {
    background: #4caf50 !important;
}

.form_menu_deny {
    background: #f44336 !important;
}

.state-icon {
    padding-right: 15px;
}

.huge-textfield .mdl-textfield__input {
    font-size: 40px;
}

.huge-textfield .mdl-textfield__label {
    font-size: 40px;
    line-height: 40px;
    top: 31px;
}

.form-part {
    border-bottom: 1px solid #dddddd;
    padding: 16px;
    position: relative;
}

/* Fast transition for box-shadow */
.form-part::after {
    box-shadow: 0 2px 5px 0 rgba(0,0,0,.14),0 1px 10px 0 rgba(0,0,0,.12),0 2px 4px -1px rgba(0,0,0,.2);
    content: "";
    height: 100%;
    left: 0;
    opacity: 0;
    position: absolute;
    top: 0;
    transition: opacity 0.2s ease-in-out;
    width: 100%;
    z-index: -1;
}

.active-form-part::after {
    opacity: 1;
    transition: opacity 0.3s ease-in-out;
}

.choices-list .mdl-list__item {
    padding-bottom: 0;
    padding-top: 0;
}


.form-part .mdl-textfield {
    margin-bottom: -10px;
    margin-top: -10px;
}

.choices-list .mdl-textfield {
    margin-bottom: -20px;
    margin-top: -20px;
}

.widget-type {
    color: #aaaaaa;
    font-size: 20px;
    font-weight: bold;
    text-align: right;
}

.form-extra {
    background-color: #f2f2f2;
    height: 0;
    margin: 5px -16px -16px -16px;
    overflow: hidden;
    padding: 0 16px;
    transition: height .3s;
    width: calc(100% + 32px)
}

.form-extra-items {
    margin-left: 30px;
    text-align: right;
}

.form-extra-items i {
    cursor: pointer;
}

.active-form-part .form-extra {
    height: 35px;
    transition: height .3s;
}

.drag-handle-holder {
    color: #aaaaaa;
    cursor: move;
    height: 20px;
    margin: -20px 0 0 0;
    padding: 0;
    text-align: center;
    z-index: 2;
}

.form-submit {
    float: right;
    margin: 10px;
}

.multi-selector {
    -moz-appearance: none;
    -webkit-appearance: none;
    background: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABQAAAAUCAMAAAC6V+0/AAAAGFBMVEWqqqqxsbHW1tbX19fZ2dn5+fn+/v7////OGFuhAAAARElEQVR4AbXKSwqAQBAD0cwn5v43FtGioXE7tXyU8tMRnEOtMeVSzEopFqUUexDFXkSx6EKx70QxMFnSShp6bzekc3gDO/IIDIAFA64AAAAASUVORK5CYII=') no-repeat;
    background-position: left 10px center;
    background-size: 20px;
    border: 1px solid #cccccc;
    color: inherit;
    font: inherit;
    font-size: inherit;
    padding: 0 3px 0 23px;
    text-align: right;
}

select:-moz-focusring {
    color: transparent;
    text-shadow: 0 0 0 #aaa;
}

.form-title {
    display: block;
    background: #3f51b5;
    color: #ffffff;
    width: 100%;
    height: 175px;
}

.submission-text {
    text-decoration: underline;
}

/* Don't invalidate on first load */
.mdl-textfield.is-invalid:not(.touched) .mdl-textfield__input {
    border-color: rgba(0,0,0,.12);
}
.mdl-textfield--floating-label.is-invalid:not(.touched) .mdl-textfield__label, .mdl-textfield--floating-label.is-invalid:not(.touched) .mdl-textfield__error {
    color: rgba(0,0,0,.26);
}
.mdl-textfield.touched + .mdl-checkbox input:invalid ~ .mdl-checkbox__box-outline {
    border-color: red;
}

/* Allow dropdown menus to appear outside of card */
.mdl-card, .mdl-card__supporting-text {
    overflow: visible;
}

.mdl-card {
    padding: 0px;
}

/* Stars */
.stars {
    direction: rtl;
    unicode-bidi: bidi-override;
}

.star-holder .mdl-radio__outer-circle {
    border: none!important;
}

.star-holder .mdl-radio__inner-circle {
    display: none!important;
}

.star-holder .mdl-radio__outer-circle::before {
    content: "\2606";
    font-size: 26px;
    line-height:16px;
}

.star-holder:not(.is-checked):hover .mdl-radio__outer-circle::before,
.star-holder:hover ~ .star-holder:not(.is-checked) .mdl-radio__outer-circle::before {
    content: "\2605";
    color: rgb(68,138,255);
}

.star-holder.is-checked .mdl-radio__outer-circle::before,
.star-holder.is-checked ~ .star-holder:not(.is-checked) .mdl-radio__outer-circle::before,
.star-holder.is-checked ~ .star-holder.is-checked .mdl-radio__outer-circle::before {
    content: "\2605";
    color: rgb(63,81,255);
}

.mdl-list__item .mdl-list__item-secondary-content {
    display: inline-block;
}

.form_version {
    color: #888888;
    display: inline-block;
    font-size: small;
    line-height: 36px;
    margin:10px;
}

.filter-card {
    position: static;
    margin-bottom: 20px;
    min-height: unset;
}

#form_search_form {
    display: inline-flex;
    width: 100%;
}

#form_search_form .getmdl-select {
    max-width: 300px;
}

.pad_right {
    padding-right: 15px;
}
