h1, h2, h3, h4, h5 {
    margin: 0;
    padding: 0;
}

input[type=text] {
    border: 0;
    border-bottom: 1px solid #000000;
    width: 100%;
    line-height: 3em;
}

input[type=checkbox], input[type=radio] {
    display: none;
}

.print-checkbox {
    border: 1px solid #000000;
    width: 1em;
    height: 1em;
    display: inline-block;
    vertical-align: middle;
}

textarea {
    width: 100%;
    line-height: 10em;
    resize: none;
    border: 1px solid #000000;
}

.screen-only {
    display: none;
}

.form-title {
    text-align: center;
    border-bottom: 3px solid #000000;
    margin-bottom: 1em;
}

.form-submit {
    display: none;
}

.form_version {
    position: absolute;
    right: 0;
    top: 0;
}

.form_menu {
    display: none;
}

.form-widget {
    display: block;
    margin-bottom: 1em;
    page-break-inside: avoid;
}

.form-description {
    font-size: small;
    padding: 1em;
}

.submission-text, .submission-checkbox {
    padding: 1em;
    margin: 0.25em;
    border: 1px solid #000000;
}

.widget-description {
    font-size: xx-small;
    margin: 0.5em;
    padding: 0.5em;
}

.print-horizontal-choices {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.print-horizontal-item {
    margin-left: auto;
    margin-right: auto;
    width: auto;
}


/* Stars */
.stars {
    direction: rtl;
    unicode-bidi: bidi-override;
}

.stars input[type=radio] {
    display: none;
}

.star-holder .mdl-radio__outer-circle {
    border: none!important;
}

.star-holder .mdl-radio__inner-circle {
    display: none!important;
}

.star-holder .mdl-radio__outer-circle::before {
    content: "\2606";
    font-size: 26px;
    line-height:16px;
}

.star-holder:not(.is-checked):hover .mdl-radio__outer-circle::before,
.star-holder:hover ~ .star-holder:not(.is-checked) .mdl-radio__outer-circle::before {
    content: "\2605";
    color: rgb(68,138,255);
}

.star-holder.is-checked .mdl-radio__outer-circle::before,
.star-holder.is-checked ~ .star-holder:not(.is-checked) .mdl-radio__outer-circle::before,
.star-holder.is-checked ~ .star-holder.is-checked .mdl-radio__outer-circle::before {
    content: "\2605";
    color: rgb(63,81,255);
}
