/* label { */
/*     display: none; */
/* } */

h1, h2, h3, h4, h5 {
    margin: 0;
    padding: 0;
}

.form-title {
    text-align: center;
    border-bottom: 1px solid #000000;
    margin-bottom: 1em;
}

.form-submit {
    display: none;
}

.form_version {
    position: absolute;
    right: 0;
    top: 0;
}

.form_menu {
    display: none;
}

.form-widget {
    margin-bottom: 1em;
    page-break-inside: avoid;
}

.form-description {
    font-size: small;
    padding: 1em;
}

.submission-text, .submission-checkbox {
    padding: 1em;
    margin: 0.25em;
    border: 1px solid #000000;
}

.widget-description {
    font-size: xx-small;
}
