<form action="#" class="form-part mdl-grid" id="form-part-{{ id }}">
    <input type="hidden" name="type" value="date">
    {{> widgetHeader name="Date Field" }}
    {{> widgetMeta name="Date Field" type="datefield" }}
    {{> widgetExtra }}
</form>
