<form action="#" class="form-part mdl-grid" id="form-part-{{ id }}">
    <input type="hidden" name="type" value="instructions">
    {{> widgetHeader name="Static Instructions" }}
    {{> widgetMeta name="Static Instructions" type="instructions" }}
    {{> widgetExtra }}
</form>
