<form action="#" class="form-part mdl-grid" id="form-part-{{ id }}">
    {{> widgetHeader name="Signature Field" }}
    {{> widgetMeta name="Text Field" type="textfield" noFields="True"}}
    {{> widgetExtra }}
</form>
