<h4>{{ widget.title }}</h4>
<span class="widget-description">{{ widget.description }}</span><br/>
<div class="submission-text">
    {% if widget.value %}
    {% with widget.value|first as number %}
    {% with ''|center:number as range %}
    {% for _ in range %}
    &#9733;
    {% endfor %}
    {% endwith %}
    {% with "-"|add:number|add:widget.steps as remainder %}
    {% with ''|center:remainder as range %}
    {% for _ in range %}
    &#9734;
    {% endfor %}
    {% endwith %}
    {% endwith %}
    {% endwith %}
    {% endif %}
</div>
