{% extends "constellation_base/base.html" %}

{% block title %}Forms | List {{ list_type }}{% endblock %}

{% block head %}
{{ block.super }}
{% load static %}
<link rel="stylesheet" href="{% static 'constellation_forms/css/forms.css' %}">
<link rel="stylesheet" href="{% static 'constellation_forms/css/getmdl-select.min.css' %}">
{% endblock %}

{% block js %}
{{ block.super }}
{% load static %}
<script src="{% static 'constellation_forms/js/getmdl-select.min.js' %}"></script>
<script>
  $('.query_button').click(function (){
    $('#query_form').val($('#query_form').attr('data-val'));
    console.log($('#query_form').val());
    $('#form_search_form').submit();
  })
</script>
{% endblock %}

{% block content %}
{% if list_type != 'Forms' %}
<div id="filterCard" class="filter-card mdl-card mdl-cell--8-col mdl-cell--2-offset-desktop mdl-shadow--2dp mdl-grid">
  <div class="mdl-card__supporting-text">
    <form id="form_search_form">
      <div class="pad_right mdl-textfield mdl-js-textfield mdl-textfield--floating-label getmdl-select getmdl-select__fullwidth getmdl-select__fix-height">
        <input class="mdl-textfield__input" type="text" id="query_form" name="form" tabIndex="-1" value="{{ query_form }}">
        <label for="query_form">
          <i class="mdl-icon-toggle__label material-icons">keyboard_arrow_down</i>
        </label>
        <label for="query_form" class="mdl-textfield__label">Form</label>
        <ul for="query_form" class="mdl-menu mdl-menu--bottom-left mdl-js-menu">
          <li class="mdl-menu__item" data-val="">All</li>
          {% for form in forms %}
          <li class="mdl-menu__item" data-val="{{ form.form_id }}">{{ form.name }}</li>
          {% endfor %}
        </ul>
      </div>
      {% if show_username_filter %}
      <div class="pad_right mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
        <input class="mdl-textfield__input" type="text" id="search_username" name="username">
        <label class="mdl-textfield__label" for="search_username">Username</label>
      </div>
      {% endif %}
      <button type="button" class="query_button mdl-button mdl-js-button mdl-button--fab mdl-js-ripple-effect mdl-button--mini-fab">
        <i class="material-icons">filter_list</i>
      </button>
    </form>
  </div>
</div>
{% endif %}
<div id="formsCard" class="mdl-card mdl-cell--8-col mdl-cell--2-offset-desktop mdl-shadow--2dp mdl-grid">
  <div class="mdl-card__title">
    <h2 class="mdl-card__title-text">{{ list_type }}</h2>
  </div>
  {% if list_type == 'Forms' %}
  <div class="mdl-card__menu">
    {% if archived %}
    <a href="{% url 'constellation_forms:view_list_archived_forms' %}" id="view-archive">
      <button class="mdl-button mdl-button--icon mdl-js-button mdl-js-ripple-effect">
        <i class="material-icons">archive</i>
      </button>
    </a>
    <div class="mdl-tooltip" data-mdl-for="view-archive">
      View Archived Forms
    </div>
    {% endif %}
    {% if perms.constellation_forms.add_form %}
    <a href="{% url 'constellation_forms:manage_create_form' %}" id="add-new">
      <button class="mdl-button mdl-button--icon mdl-js-button mdl-js-ripple-effect">
        <i class="material-icons">add</i>
      </button>
    </a>
    <div class="mdl-tooltip" data-mdl-for="add-new">
      Create New Form
    </div>
    {% endif %}
  </div>
  {% elif list_type == 'Archived Forms' %}
  <div class="mdl-card__menu">
    <a href="{% url 'constellation_forms:view_list_forms' %}" id="view-list">
      <button class="mdl-button mdl-button--icon mdl-js-button mdl-js-ripple-effect">
        <i class="material-icons">unarchive</i>
      </button>
    </a>
    <div class="mdl-tooltip" data-mdl-for="view-list">
      View Active Forms
    </div>
  </div>
  {% endif %}

  <div class="mdl-card__supporting-text">
    {% for list in lists %}
    {% if list.list_items %}
    <h5>{{ list.name }}</h5>
    <div class="mdl-list">
      {% for item in list.list_items %}
      <div class="mdl-list__item mdl-list__item--three-line">
        <span class="mdl-list__item-primary-content">
          {% if list_type == 'Form Submissions' %}
          {% if item.state == 0 %}
          <i class="material-icons state-icon mdl-list__item-avatar">drafts</i>
          {% elif item.state == 1 %}
          <i class="material-icons state-icon mdl-list__item-avatar">mail_outline</i>
          {% elif item.state == 2 %}
          <i class="material-icons state-icon mdl-list__item-avatar">call_missed_outgoing</i>
          {% elif item.state == 3 %}
          <i class="material-icons state-icon mdl-list__item-avatar">thumb_up</i>
          {% elif item.state == 4 %}
          <i class="material-icons state-icon mdl-list__item-avatar">thumb_down</i>
          {% endif %}
          {% else %}
          <i class="material-icons state-icon mdl-list__item-avatar">assignment</i>
          {% endif %}
          <span><a href="{{ item.url }}">{{ item.name }}</a>{% if item.owner %} &mdash; {{ item.owner }}{% endif %}</span>
          <span class="mdl-list__item-text-body">
            {{ item.description }}
          </span>
        </span>
        <span class="mdl-list__item-secondary-content">
          {% if item.edit %}
          <a class="mdl-list__item-secondary-action" href="{{ item.edit }}"><i class="material-icons">edit</i></a>
          {% if list_type == 'Archived Forms' %}
          <a class="mdl-list__item-secondary-action" href="{% url 'constellation_forms:view_unarchive_form' item.id %}"><i class="material-icons">unarchive</i></a>
          {% elif list_type == 'Forms' %}
          <a class="mdl-list__item-secondary-action" href="{% url 'constellation_forms:view_archive_form' item.id %}"><i class="material-icons">archive</i></a>
          {% endif %}
          {% endif %}
        </span>
      </div>
      {% endfor %}
    </div>
    {% endif %}
    {% endfor %}
  </div>
</div>
{% endblock %}
