{% extends "constellation_base/base.html" %}

{% block title %}{{ template_settings.organization }} -- View Submission{% endblock %}

{% block head %}
{{ block.super }}
{% load static %}
<link rel="stylesheet" media="screen" href="{% static 'constellation_forms/css/forms.css' %}">
<link rel="stylesheet" media="print" href="{% static 'constellation_forms/css/print.css' %}"
{% endblock %}

{% block content %}
<div class="mdl-grid form" id="form" style="width:100%">
    <div class="mdl-card mdl-cell mdl-cell--12-col mdl-shadow--2dp mdl-grid" id="form-pane">
        <div class="mdl-card__title form-title mdl-shadow--3dp">
            <h2>{{ name }}</h2>
            <span class="form-description"><h4>{{ description }}</h4></span>
        </div>
        <div class="mdl-card__supporting-text">
            <div id="widgets-holder">
                {% for widget in widgets %}
                <form class="form-widget">
                    {% with "constellation_forms/submission_widgets/"|add:widget.type|add:".html" as template %}
                    {% include template with widget=widget %}
                    {% endwith %}
                </form>
                {% endfor %}
            </div>
        </div>
        <div class="mdl-card__menu form_menu">
            <a href="{% url 'view_approve_submission' id %}">
                <button class="mdl-button mdl-js-button mdl-button--fab mdl-button--colored form_menu_approve">
                    <i class="material-icons">check</i>
                </button>
            </a>
            <a href="{% url 'view_deny_submission' id %}">
                <button class="mdl-button mdl-js-button mdl-button--fab mdl-button--colored form_menu_deny">
                    <i class="material-icons">block</i>
                </button>
            </a>
        </div>
        <div class="mdl-card__actions mdl-card--border">
            <span class="form_version">Form {{ form_id }}.{{ version }}</span>
        </div>
    </div>
</div>
{% endblock %}
