<h4>{{ widget.title }}</h4>
<span class="widget-description">{{ widget.description }}</span><br/>
<span class="widget-description print-only">You may select only one item.</span>
<div class="print-horizontal-choices">
    {% for choice in widget.choices %}
    <label class="mdl-radio mdl-js-radio mdl-js-ripple-effect print-horizontal-item" for="choice-{{ id }}-{{ forloop.counter }}">
        <div class="print-only print-checkbox"></div>
        <input type="radio" id="choice-{{ id }}-{{ forloop.counter }}" name="radio-{{ id }}" class="mdl-radio__button">
        <span class="mdl-radio__label choice-label">{{ choice }}</span>
    </label>
    {% endfor %}
</div>
