<span class="widget-start"></span>
<h4>Signature</h4>
<div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
    <input class="mdl-textfield__input" type="text" name="value" id="widget-{{ id }}"{% if widget.required %} required{% endif %}>
    <label class="mdl-textfield__label" for="widget-{{ id }}">Full Name</label>
</div>
<label class="mdl-checkbox mdl-js-checkbox mdl-js-ripple-effect" for="signature-checkbox-{{ id }}">
  <input type="checkbox" id="signature-checkbox-{{ id }}" class="mdl-checkbox__input"{% if widget.required %} required{% endif %}>
  <span class="mdl-checkbox__label choice-label">By checking this box, the text box above becomes your signature.</span>
</label>
<span class="widget-end"></span>
