<h4>{{ widget.title }}</h4>
<span class="widget-description">{{ widget.description }}</span><br/>
<div class="slider-widget">
<input class="mdl-slider mdl-js-slider screen-only" id="widget-{{ id }}" name="value" type="range" min="0" max="{{ widget.steps }}" value="0" tabindex="0">
<div class="mdl-tooltip mdl-tooltip--large" for="widget-{{ id }}">
    <output name="result">0</output>
</div>
</form>
</div>
<div class="print-only print-horizontal-choices">
    {% with ''|center:widget.steps as range %}
    {% for _ in range %}
    <span class="print-horizontal-item">{{ forloop.counter }}</span>
    {% endfor %}
    {% endwith %}
</div>
