<span class="widget-start"></span>
<h4>{{ widget.title }}</h4>
{{ widget.description }}<br/>
<span class="stars">
    {% with ''|center:widget.steps as range %}
    {% for _ in range %}
    <label class="mdl-radio mdl-js-radio star-holder" for="choice-{{ id }}-{{ forloop.revcounter }}">
        <input type="radio" id="choice-{{ id }}-{{ forloop.revcounter }}" name="radio-{{ id }}" class="mdl-radio__button star">
        <span class="mdl-radio__label choice-label" style="display:none">{{ forloop.revcounter }}</span>
    </label>
    {% endfor %}
    {% endwith %}
</span>
<span class="widget-end"></span>
