<h4>{{ widget.title }}</h4>
<span class="widget-description">{{ widget.description }}</span><br/>
<div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
    <input class="mdl-textfield__input" type="text" name="value" id="widget-{{ id }}" value="{{ widget.value }}"{% if widget.required %} required{% endif %}>
    <label class="mdl-textfield__label screen-only" for="widget-{{ id }}">{{ widget.title }}</label>
    <span class="mdl-textfield__error">{% if widget.required %}Required{% endif %}</span>
</div>
